*{margin: 0; padding:0;}

/*header css*/
header {
  background: black;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: skyblue 3px solid;
}
header{font-family: 'Prompt', sans-serif;}
header a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;}

footer {
  padding: 20px;
  margin-top: 00px;
  color: white;
  background-color: #353233;
  text-align: center;
}

body {font-family:Arial, Helvetica, sans-serif;font-size: 16px;line-height: 1.5em;padding:0;margin:0;background-color: #f4f4f4;} 

a {  text-decoration: none;}

ul{ padding:0px;margin:0px;} 

form img{ float: right; background-repeat: no repeat;}

form button{ background-color:#817b7d3b;color:black;border:10px;padding:1%; height:30px;text-align: center;display: inline-block;}

form{ margin:50px;margin-right: auto;}

form button:hover{color:red;}

li:hover{color:#cccccc;font-weight: bold;}


#Showcase{
    min-height:500px;
    background:url(showspa.jpg) 0 -390px;
    background-repeat:no-repeat;
    color:white;
    text-align:center;
}
#Showcase h1{
    margin-top:10%;
    font-size:5%;
    margin-bottom:3%;

}
#Showcase p{
    font-size: 20px;
}




/* this class is just for the form alignment*/
#align{
    padding:15px;
    color: black;
    background:#f4f4f4 ;
}
#align form{
    float: center;
}
#align input[type="text"]{
    width:250px;
    padding:4px;
    height:20px;

}




/*container aligns the webpage to centre*/
.container{ 
    width: 80%; /*response to sizing the tab*/
    margin:auto; /*auto aligns*/
    overflow: hidden;


}
   list-style-type: none;
}
#rInp{
    line-height: 1em;
    font-weight: 300;

}
header #brand{
    float:left;

}
header #brand h1{
    margin:0;
    padding:0;

}
header nav{
    float:right;
}
 

header .current a{
    color: red;
    font-weight: bold;
}
 header a:hover{
     color:#cccccc;
     font-weight: bold;
 }
 #sidebar{float: right;
        width:30%;
        margin-left: 40px;

 }
 /*images css*/
 .displayImages{
     margin-top: 20px;
     

 }
 .displayImages img{
     float: left;
     width: 33%;
 }
 footer{
     padding:20px;
     margin-top: 20px;
    color: white;
    background-color:#353233 ;
    text-align: center;
 }
.yoga{background-color:#f1f1f1;}

.pool{background-color:#f1f1f1 ;margin-top:-8px;}

.wed{background-color:#f1f1f1;}

.abt{ background-color:#e0e0e0;}

.itr{margin-right:10%;
     margin-left:10%;  
     font-family: 'Domine', serif;
      font-family: 'Kufam', cursive;}

.it1{background-color:#e0e0e0;}

/*header css*/
header{
    background:black ;
    color: #FFFFFF;
    padding-top: 30px ;
    min-height: 70px;
    border-bottom: skyblue 3px solid;
}
header a{
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
.it2{margin-left:15%; margin-right:15%; display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;}
.itr{background-color:#f0f0f0;} 
